  
table {

    width: 25%;
    
    border-collapse: collapse;
    
    
    
    }
    
    
    td {
    
    border: 1px solid rgb(0, 0, 0);
    
    text-align: center;
    
    }
#Resumenes {
    background-color: rgb(222, 221, 135);
    text-align: center;
}
#Lesiones {
    background-color: rgb(240, 147, 140);
    text-align: center;
}
#Clasificaciones {
    background-color: rgb(163, 238, 144);
}
#Footer {
    background-color: #d400ff;
    text-align: center;
}